.profilepicture {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    background-image: url("assets/Cutedo.jpg");
    background-position: center;
    padding: 10px;
    background-repeat: no-repeat;
    border: 3px solid black;
    background-size: cover;
    margin: 100px;
    
}

.myname {
    font-family: "Beth Ellen";
    font-size: 45px;
    font-weight: 100;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bodytext {
    font-family: "Red Hat Display";
    text-align: center;
}

.aboutme {
    background: #84d7e269;
    max-width: 390px;
    margin: 0 auto;
    padding: 20px;
}